<!DOCTYPE html>
<html>
    <head>
	    {% block metatags %}{% endblock %}
        {% stylesheets 'bundles/app/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	    {% block counters %}{% endblock %}
	<meta name='yandex-verification' content='67d80cb6e8abeac3' />
    </head>
    <body>
        <div class="mainBlock">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
