{% extends 'base.html.twig' %}

{% block body %}
	<div class="header">
		<div class="headerMenuBlock">
			<div class="headerMenu">
				<div class="headerLogoBlock">
					<a href="/" class="headerLogo"></a>
					<a href="/" class="headerLogoText">kinsshop.ru</a>
				</div>
				<div class="headerMenuDiv">
					<a href="/">Главная</a>
					<a href="/">Главная</a>
					<a href="/">Главная</a>
					<a href="/">Главная</a>
				</div>
			</div>
		</div>
		<div class="middleBlock"></div>
	</div>
	<div class="content">
		{% block content %}

		{% endblock %}
	</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
